<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Если файл или папка существуют, используем их
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Иначе перенаправляем на index.html (для React Router)
    RewriteRule ^ index.html [L]
</IfModule>