APP_ENV=dev
APP_URL=https://biofarm.local
APP_DEBUG=1
APP_SECRET=change-me-in-local-development-secret

HTTP_PORT=8088

DB_HOST=mariadb-container
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=biofarm
DB_CHARSET=utf8mb4

MAILER_HOST=mail.hosting.reg.ru
MAILER_PORT=465
MAILER_USERNAME=
MAILER_PASSWORD=
MAILER_FROM_EMAIL=
MAILER_FROM_NAME=Biofarm

REDIS_HOST=redis-container
REDIS_PORT=6379
REDIS_PASSWORD=

FRONTEND_URL=https://biofarm.local
FRONTEND_AUTH_URL=https://auth.biofarm.local

JWT_SECRET=change-me-in-local-development-jwt-secret

COOKIE_DOMAIN=.biofarm.local
COOKIE_SECURE=false

S3_ENDPOINT=
S3_REGION=
S3_BUCKET=
S3_KEY=
S3_SECRET=
S3_PUBLIC_URL=

CHECKBUG_DSN=
YANDEX_DISK_TOKEN=
