{% extends 'layouts/main.html.twig' %}

{% block content %}
    <div
        data-react-island="checkout-page"
        data-order-bonus-enabled="{{ site_feature('order_bonus_enabled') ? 'true' : 'false' }}"
        data-order-bonus-percent="{{ site_setting('order_bonus_percent', 5) }}"
    ></div>
{% endblock %}
