{% extends 'layouts/main.html.twig' %}

{% block title %}Заказ оформлен — БИОФАРМ{% endblock %}

{% block description %}Заказ БИОФАРМ успешно оформлен.{% endblock %}

{% block content %}
    <div data-react-island="order-success-page"></div>
{% endblock %}
