<footer class="site-footer">
    <div>
        <strong>{{ site.footer.title }}</strong>
        <p>{{ site.footer.description }}</p>
    </div>

    <div class="site-footer__links">
        {% for item in site.footer.links %}
            {% include 'components/ui/link.html.twig' with {
                href: item.href,
                label: item.label,
                external: item.external|default(false),
            } only %}
        {% endfor %}
    </div>
</footer>
