{% set fields = [
    { label: 'ID', name: 'id', type: 'number', value: '1', required: true },
] %}

<form class="command-form" method="post" action="/products/delete">
    {% include 'components/ui/csrf-field.html.twig' with { action: 'products.delete' } only %}

    {% for field in fields %}
        {% include 'components/ui/form-field.html.twig' with { field: field } only %}
    {% endfor %}

    <button class="button button--secondary" type="submit">Удалить</button>
</form>
