body {
    font-family: Arial, sans-serif;
    background-color: #f9fcff;
    color: #161d30;
}
h2 {
    font-family: Arial, sans-serif;
}
.table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(89,105,252,.1019607843);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.table th, .table td {
    border: 1px solid rgba(89,105,252,.1019607843);
    padding: 8px;
    text-align: left;
}
.table tr:nth-child(even) {
    background-color: #5969fc24;
}
.table th {
    position: relative;
    background-color: #161d30;
    color: white;
    text-align: center;
}

.table th:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.table th[data-order="asc"]:after {
    border-bottom: 5px solid #fff;
}

.table th[data-order="desc"]:after {
    border-top: 5px solid #fff;
}

a {
    text-decoration: none;
    color: #5969fc;
}
.small {
    margin-top: 2px;
    font-size: 12px;
    color: rgb(120, 120, 120);
}
.danger {
    color: rgba(255, 0, 0, 0.76);
}
#wrap {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(22, 29, 48, 0.84);
}
#modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 0.2);
    overflow: hidden;
}
#modal-header {
    background-color: #161d30;
    color: white;
    padding: 8px;
}

#modal-body {
    padding: 8px;
    max-height: 500px;
    overflow: scroll;
}
.clicking {
    cursor: pointer;
}
.table-mini label {
    font-size: 12px;
    color: #161d30;
}
.table-mini input, .table-mini select, .table-mini textarea {
    border: 1px solid #5969fc24;
    border-radius: 8px;
    padding: 4px;
}

button, .table-mini button {
    border: 1px solid #161d30;
    background: #161d30;
    color: white;
    border-radius: 8px;
    padding: 4px 12px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.7;
}

#pagination {
    margin-top: 8px;
}

#pagination .page-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

#pagination .page-link:hover {
    cursor: pointer;
    background-color: #eee;
}

#pagination .page-link.active {
    background-color: #161d30;
    color: #fff;
}
