{% extends 'layouts/main.html.twig' %}

{% block title %}Личный кабинет — БИОФАРМ{% endblock %}

{% block description %}Профиль, заказы и реферальная программа БИОФАРМ.{% endblock %}

{% block content %}
    <div data-react-island="profile-page"></div>
{% endblock %}
